    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }

    .car-head{
        font-family: "Big Shoulders Display";
        font-size: 2rem;
        margin: 15% 0;
    }

    .car-desc{
        font-family: "Lexend Deca";
        opacity: 80%;
        font-size: 1rem;
    }

    .car-button{
        font-family: "Lexend Deca";
        border:none;
        border-radius: 50px;
        padding:10px 30px;
        margin: 20% 0 15% 0;
        transition: opacity 250ms ease-in-out, color 250ms ease-in-out;
    }
    .car-button:hover{
        opacity: 80%;
    }

    .sedans{
        background-color: hsl(31, 77%, 52%);
    }
    .sedans-btn{
        color: hsl(31, 77%, 52%);
    }

    .suvs{
        background-color: hsl(184, 100%, 22%);
    }
    .suvs-btn{
        color: hsl(184, 100%, 22%);
    }

    .luxury{
        background-color: hsl(179, 100%, 13%);
    }
    .luxury-btn{
        color: hsl(179, 100%, 13%);
    }

    .car{
        color: white;
    }

    .car-sedans{
        border-radius: 10px 0 0 10px;
    }

    .car-luxury{
        border-radius: 0 10px 10px 0;
    }

    .car-container{
        display:flex; 
        flex-direction: row;
        justify-content:center 
    }

    @media(max-width: 800px){

        .car-container{
            display:flex; 
            flex-direction: column;
            align-items:center  
        }
        .car-sedans{
            border-radius: 10px 10px 0 0;
        }
    
        .car-luxury{
            border-radius: 0 0 10px 10px;
        }
    }